[Unit]
Description=Spark Master Service
Wants=network.target network-online.target
After=network.target network-online.target

[Service]
Type=forking
User=spark
WorkingDirectory={{ path.data }}
Environment=SPARK_CONF_DIR={{ path.cfg }} SPARK_LOG_DIR={{ path.log }}
ExecStart={{ binpath }}/sbin/start-master.sh --port {{ port.spark_master }} --webui-port {{ port.spark_master_ui }} 
ExecStop={{ binpath }}/sbin/sbin/stop-master.sh
Restart=on-abort

[Install]
WantedBy=multi-user.target
