[Unit]
Description=Zookeeper
After=network.target

[Service]
Type=forking
User={{ install.user }}
Group={{ install.group }}
Environment=ZOO_LOG_DIR={{ install.path.log }} ZOOCFGDIR={{ install.path.cfg }}
CHDIR={{ install.path.data }}
ExecStart={{ install.path.bin }}/bin/zkServer.sh start

[Install]
WantedBy=multi-user.target
