[Unit]
Description=Zookeeper
After=network.target

[Service]
Type=forking
User=zookeeper
Group=zookeeper
Environment=ZOO_LOG_DIR={{ path.log }} ZOOCFGDIR={{ path.cfg }}
CHDIR={{ path.data }}
ExecStart={{ path.bin }}/bin/zkServer.sh start

[Install]
WantedBy=multi-user.target
