global:
  localhost:
    cache: "{{ lookup('env','DEPLOY_CACHE_DIR') }}"
    proxy: "{{ lookup('env','PROXY') }}"
    sitedir: "{{ lookup('env','HOME') + '/site.d' }}"
    clientdir: "{{ lookup('env','HOME') + '/client' }}"
  mirrors:
    apache: http://apache.crihan.fr/dist
    elastic: http://artifacts.elastic.co/downloads
  ports:
    elasticsearch: 9200
    zookeeper: 2181
    kafka: 9096
    spark_master_ui: 9080
    spark_worker_ui: 9081
    nifi: 8080
