global:
  localhost:
    sitedir: "{{ lookup('env','HOME') + '/site.d' }}"
    envdir: "{{ lookup('env','HOME') + '/env.d' }}"
    clientdir: "{{ lookup('env','HOME') + '/client' }}"
  proxyhost: "{{ lookup('env','PROXY_HOST') }}"
  proxyenv:
    http_proxy: http://{{ lookup('env','PROXY_HOST') }}:{{ lookup('env','PROXY_PORT')|default('3128',true)  }}
    https_proxy: http://{{ lookup('env','PROXY_HOST') }}:{{ lookup('env','PROXY_PORT')|default('3128',true) }}
  mirrors:
    apache: http://apache.crihan.fr/dist
    elastic: http://artifacts.elastic.co/downloads
  ports:
    elasticsearch: 9200
    zookeeper: 2181
    kafka: 9096
    spark_master_ui: 9080
    spark_worker_ui: 9081
    nifi: 8080
