{ "type": "hbase-env",
  "tag": "hbasecfg", 
  "properties" : {
    "content" : "hbase_env.stdout",
    "hbase_java_io_tmpdir" : "/tmp",
    " hbase_log_dir" : "/var/log/hbase",
    "hbase_master_heapsize" : "1024",
    "hbase_pid_dir" : "/var/run/hbase",
    "hbase_regionserver_heapsize" : "1024",
    "hbase_regionserver_shutdown_timeout" : "30",
    "hbase_regionserver_xmn_max" : "512",
    "hbase_regionserver_xmn_ratio" : "0.2",
    "hbase_user" : "hbase",
    "hbase_user_nofile_limit" : "32000",
    "hbase_user_nproc_limit" : "16000",
    "phoenix_sql_enabled" : "false"
}}
