global:
  localhost:
    sitedir: "{{ lookup('env','HOME') + '/site.d' }}"
    envdir: "{{ lookup('env','HOME') + '/env.d' }}"
    clientdir: "{{ lookup('env','HOME') + '/client' }}"
    cache: "{{ lookup('env','HOME') + '/tmp' }}"
  proxyhost: "{{ lookup('env','PROXY_HOST') }}"
  proxyenv:
    http_proxy: http://{{ lookup('env','PROXY_HOST') }}:{{ lookup('env','PROXY_PORT')|default('3128',true)  }}
    https_proxy: http://{{ lookup('env','PROXY_HOST') }}:{{ lookup('env','PROXY_PORT')|default('3128',true) }}
  mirrors:
    centos: http://centos.mirrors.ovh.net/ftp.centos.org
    apache: http://apache.crihan.fr/dist
    elastic: https://download.elasticsearch.org/elasticsearch/release/org/elasticsearch/distribution/rpm
  ports:
    elasticsearch: 9200
    zookeeper: 2181
    kafka: 9096
    spark_master_ui: 9080
    spark_worker_ui: 9081
    nifi: 8080
    cassandra: 7199

