[Unit]
Description=Kafka
After=network.target

[Service]
User={{ install.user }}
Group={{ install.group }}
Environment=LOG_DIR={{ install.path.log }} 
CHDIR={{ install.path.data }}
ExecStart={{ install.path.bin }}/bin/kafka-server-start.sh {{ install.path.cfg }}/server.properties

[Install]
WantedBy=multi-user.target


