- hosts: all
  gather_facts: no
  tasks:
    - name: shutdown CentOS server {{ inventory_hostname }} 
      shell: shutdown -h now
      when: hostvars[inventory_hostname].os is not defined or hostvars[inventory_hostname].os|dirname == "centos"
    - name: poweroff Alpine server {{ inventory_hostname }}
      raw: poweroff
      when: hostvars[inventory_hostname].os is defined and hostvars[inventory_hostname].os|dirname == "alpine"
  become: true
  ignore_errors: yes

  



